<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <script href="~/Scripts/jquery-3.4.1.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/PlantApp/Scripts/AppPlant.js"></script>

    <script src="~/PlantApp/Scripts/PlantListController.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</head>
<body>
    <div ng-app="AppPlant">
        <div ng-controller="PlantListController">
            <div class="alert alert-danger" role="alert" ng-show="showNotification">
                The plants that need water are :<p style="margin: 5px 0 0 5px;" ng-repeat="ty in plantsThatNeedWater"><b>{{ty}}</b></p>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Plant</th>
                        <th style="text-align: center;">Last watered</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plant in plants">
                        <input type="hidden" value="{{plant.Watered_Status}}" id="plantStatus{{plant.Id}}" />
                        <input type="hidden" value="{{plant.Last_Watered}}" id="plantDate{{plant.Id}}" />
                        <input type="hidden" id="plantPValue{{plant.Id}}" value="{{progress_value}}" />
                        <td style="text-align: center;">{{plant.Description}}</td>
                        <td style="text-align: center;">{{(plant.Last_Watered | date : "medium")}}</td>
                        <td style="text-align: center;">
                            {{plant.Watered_Status == 2 ? 'Watering plant' : plant.Watered_Status == 1 ? 'Freshly watered' : 'Thirsty plant'}}

                        </td>

                        <td style="text-align: center;">
                            <button ng-click=" plant.Watered_Status != 2 ? beginWatering(plant.Id) : cancelWatering(plant.Id)" type="button" class="btn {{plant.Watered_Status == 0 ? 'btn-danger' : plant.Watered_Status == 1 ? ' btn-success': 'btn-primary'}}">{{plant.Watered_Status == 0 ? 'Water me please' : plant.Watered_Status == 2 ? 'Being watered' : 'Water' }}</button>
                            <div style="margin-bottom: 5px;" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar{{plant.Id}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_value}}%"></div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>  